<button routerLink="lista-clases">JESUS</button>
<main class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gimnasio Provisional</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- Ruta principal -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/principal-component']" routerLinkActive="active">Inicio</a>
              </li>
              <!-- Dropdown con las secciones del gimnasio -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gimnasio
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/caracteristicas']" routerLinkActive="active">Características</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/actividades']" routerLinkActive="active">Actividades y Cursos</a></li>
                </ul>
              </li>
              <!-- Ruta para la lista de clases -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista-clases']" routerLinkActive="active">Lista de Clases</a>
              </li>
              <!-- Ruta para las tarifas -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/tarifas']" routerLinkActive="active">Tarifas</a>
              </li>
              <!-- Ruta para el contacto -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <router-outlet />
</main>