<main class="container">
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="assets/logodefinitivo.png" alt="VisionFit Logo" height="50">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link custom-link" [routerLink]="['/principal-component']" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle custom-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gimnasio
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item custom-link" [routerLink]="['/caracteristicas']" routerLinkActive="active">Características</a></li>
                <li><a class="dropdown-item custom-link" [routerLink]="['/actividades']" routerLinkActive="active">Actividades y Cursos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" [routerLink]="['/lista-clases']" routerLinkActive="active">Lista de Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" [routerLink]="['/tarifas']" routerLinkActive="active">Tarifas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <router-outlet></router-outlet>
  </main>
  